#viz0, #viz1, #viz2, #viz3, #viz4, #viz5 {
    border: 5px dotted skyblue;
    width: 500px;
    height: 250px;
  }
h2{
    color:rgb(0, 117, 163);
}
body{
    font-family: 'Gaegu', sans-serif;
}
.container{
    margin-top: 0.5rem;
}
.alert .alert-danger{
    background-color: rgb(254, 68, 68);
}
.alert .alert-success{
    background-color: #a2d9af;
}
