{% extends "base.html" %}
{% block title %} My Stocks {% endblock %}
{% block head %} 
<script src="https://unpkg.com/rough-viz@2.0.5"></script>
{% endblock %}

{% block content %}
<h3>Track New Stock</h3>
<form method="POST">
    <div class ='form-group row'>
        <div class="col-xs-3">
            <input type="text"
        class = "form-control input-sm"
        id="inputsm"
        name="ticker"
        placeholder="ex: IOT" />
        </div>
        <div align="center">
            <button type="submit stock"class="btn-primary">New Stock</button>
        </div>
    </div>
    

</form>

<div><h1>My Stocks</h1></div>

<div class="graphs" align="center">
    <h2>Test Data1:</h2>
    <div id="viz0" style="width: 500px; height: 400px;"></div>
    <h2>Test Data2:</h2>
    <div id="viz1" style="width: 500px; height:400px;"></div>
    <h2>Test Data3:</h2>
    <div id="viz2" style="width: 500px; height:400px;"></div>
    <h2>Test Data4:</h2>
    <div id="viz3" style="width: 500px; height:400px;"></div>
</div>

{% endblock %}

{% block jscode %} 

<script type='module' src="../static/index.js">
    console.log("Hello World from my Stocks!");
</script>
{% endblock %}

